body{
    height: 100vh;
    width: 100%;
}

header{
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.galery{
    width: 80%;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
}


.image img{
    display: block;
    width: 100%;
    border-radius: 4px;
}

