body{
    background: url('../img/fondo.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container .registro{
    border: 1px solid black;
    width: 38%;
    height: 95%;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

 h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-shadow:  rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    color: rgb(255, 255, 255, 1);
    opacity: 1;
}

textarea::placeholder{
    color: rgb(255, 255, 255, 1);
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


input, .input2{
    background: rgba(255, 255, 255, 0.3);
    height: 50px;
    width: 50%;
    line-height: 40px;
    border-radius: 10px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 5px;
    color: aliceblue;   
}

.input1{
    display: flex;
    flex-direction: row;
    width: 96%;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.input2{
    width: 90%;
    height: 90px;

}

.input3{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
}

.numTelefono{
    width: 87%;
}


.container-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.checkbox{
    margin-top: 10px;
    
}



.a1 , .a2{
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    background: linear-gradient(70deg, rgba(63, 30, 35, 0.384), rgb(0, 0, 0));
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.a2{
    width: 60%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(70deg, rgba(63, 30, 35, 0.384), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}
.divdatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.btnregistro{
    width: 210px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


@media(max-width:1367px){

  
    h1{
        margin-bottom: 20px;
    }


    input, .input2{
        height: 40px;
    }   

    .input2{
        height: 80%;
        width: 87%;
    }

    .btn{
        flex-direction: row;
        gap:10%
    }
    
    .a2{
        padding-left: 20px;
    }
}

@media(max-width:1024px){

    .container{
        align-items: center;
        
    }
    
    .registro form{
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.5);
    }


    input, .input2{
        height: 40px;
    }   


    .container .registro{
        height: 90%;
        width: 90%;
    }
    .registro form{
        width: 100%;
        height: 100%;
        
    }

    .input1{
        width: 92%;
        height: 10%;
        margin-bottom: 10px;
    }

    .input2{
        height: 40%;
        
    }

    .a2{
        width: 30%;
    }
}

@media(max-width:431px){

    h1{
        margin-bottom: 20px;
    }

    .container .registro{
        height: 70%;
        width: 90%;
    }
    .registro form{
        width: 100%;
        height: 100%;
        
    } 

    input, .input2{
        height: 40px;
    }   

    .input2{
        height: 80%;
        width: 87%;
    }

    .btn{
        flex-direction: row;
        gap:10%
    }
    
    .a2{
        padding-left: 20px;
    }

}